@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto-Black");
                font-weight: 900;
                font-style: normal;
              }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold");
                font-weight: 700;
                font-style: normal;
              }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto-Light");
                font-weight: 300;
                font-style: normal;
              }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../assets/fonts/Roboto-Thin.woff2") format("woff2"), url("../assets/fonts/Roboto-Thin");
                font-weight: 100;
                font-style: normal;
              }
@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium");
                font-weight: 500;
                font-style: normal;
              }
